## Intro to Python

In order to run python in a notebook you can select code cells like the one below and run them using Ctrl-Enter

Try it in the cell below.

In [ ]:
print('Hello World')

Another option is to use Shift-Enter which will run the code in the cell and the select the next cell

Try using that on the next two cells.

In [ ]:
print('See how')

In [ ]:
print('this works?')

# Math
Lets start using python to do some simple math

Type 2 + 3 in the cell below and run the cell.

Try subtracting 3 from 5

The multiplication operator in python is \*


So 2 * 3  would return 6 if we run it in the cell below. Try it out.

The division operator in python is /

So 5 / 2 would return 2.5 if we run it in the cell below. Give it a try

*Note: in python 2 division between two integers will output an integer. This means 5/2 = 2 instead of 2.5*

The exponent operator in python is \*\*

Using that you can raise one number to the power of the second number. So three to the power of two or three squared would be written as 3\*\*2 and would return 9. Try 5 raised to the power of 2 in the cell below

There are two other operators that may be less famaliar to you but can still be really useful. The first, floor division, is //

Floor division divides the first number by the second and rounds down to the nearest whole number if necessary. So 5 // 2 would return 2. Try it below.

The second operator that may be less well known is modulo which in python is %

Modulo will return the remainder after you divide one number by another. So 9 % 5 = 4 since 5 goes into 9 once and leaves a remainder of 4. See what 5 modulo 3 returns in the cell below.

It is also possible to change the order of operations using parenthesis. 2 * 3 + 4 equals 10 but 2 * (3 + 4) equals 14. Try both of these out in the cells below.

## Variables
You can use variables to store data in memory. This is done with the equal operator in python. Try running the cell below

In [ ]:
name = 'Jim'
print('Hello' + name)

Try creating a new variable called last_name and set it equal you your last name in the cell below.

Variables are case sensitive. So if you dont use it exactly as you defined it you will get a name error. Run the cell below to see that in action.

In [ ]:
print(Name)

When you have variables defined you can use them over and over. This reduces the likelyhood of you making a mistake and makes it easy to change one value that is used in multiple places in your code. In the cell below we define a and b and then do addition with the variables. Run the code and the change it from addition to multiplication and run it again.

In [ ]:
a = 2
b = 3
a + b

Variables can store any type of data. Above we saw them store integers. Below we have strings in our variables. Add a new line of code in the cell below that concatinates (adds) the two names together.

In [ ]:
first = 'John'
last = 'Cleese'

## Data Types

### Strings
We have already used strings a little bit. They contain things like words, urls, file paths, and anything else that may need to use letters, numbers and characters. They are always surounded by quotes or double quotes. Lets see a little more info about strings by running the help function on str (the python name for string).

In [ ]:
help(str)

The methods that you are most likely to use are the ones that are not surrounded by underscores. Lets take the variable below and run the lower method on it to make all the letters lowercase.

In [ ]:
city = 'New york'
city.lower()

Another method that we could use is replace which takes two arguments the first being the old value and the second being the new value. So if we had name = 'john' and then used name.replace('j', 'J') we would get back 'John'. Try it with our variable city and replace the lower case y with an uppercase Y.

### Lists
Lists can store any other data type together in an order. They are often used when you need to do something with each item in the list. As a preview of things to come run the cell below to see how you can print each item from a list.

In [ ]:
seasons = ['Spring', 'Summer', 'Fall', 'Winter']
for season in seasons:
    print(season)

List have several methods associated with them. Lets take a look at a litte more information by calling the help function on list in the cell below.

In [ ]:
help(list)

So if for example we wanted to remove the last item from our seasons list we could use the following to remove winter from the list. 

seasons.pop()

Instead of removing winter from out list try out the count method on the list below with 1 inside the parenthesis to count how many times 1 appears in our list.

In [ ]:
numbers = [1, 2, 3, 4, 5, 1, 2, 1]

### Dictionaries
Dictionaries are a data type that lets you easily access values out of the dictionary by thier unique key just like you can easily look up the definition of a word by it's spelling in an english dictionary.

You  create a dictionary using braces {} with the key and value seperated by a colon :
Run the cell below to create a dictionary that describes several attributes of a cat.

In [ ]:
cat = {'weight':10.5, 'length':24, 'color':'brown'}

In order to get any of those values back out you can use the name of the key in brackets with the dictionary. cat['color'] would return 'brown' to us. Do the same thing but get out the weight of the cat using the key.

### Sets

Sets, like lists, can store other data types inside of it. However unlike a list you can not have repetitions and they do not maintain the order of items inserted into it. However they are really fast at finding out if something is inside of it where lists can be slow to search. You can also use them for operations where set theory applies. If you need to find the intersection between two collections it is much faster with sets than with lists. To create a set you use braces like with a dictionary but you dont use colons. Lets create two sets by running the cell below.

In [1]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

Now that we have a couple sets lets use some of the set methods. First lets see if 1 is in each set. Run the cell below to see if 1 is in a and then in the next cell see if 1 is in b.

In [2]:
1 in a

True

Now lets find the intersection between the two sets. Try that using the intersection method with 
a.intersection(b)

In [3]:
a.intersection(b)

{3, 4}

We can also combine the two sets using the union method. Try using union just like you used intersect